- Отвечать на русском языке
- Сначала создавать план выполнения задач
- Затем выполнять задачу по плану и доводить до конца
- Затенм проверять ошибки и тестировать код
- Использовать иконки только heroicons.com ни какмих кастомных иконок
- После build запускай сервер командой npm run dev 
- Удаляй временные файлы
- Не создавать git commit и git push без разрешения
- после build запускай сервер командой npm run dev 
